.gridStyle {
	border: 1px solid @black;
	width: 400px;
	height: 300px;
}
.gridCell {
	/* background-color: @aqua; */
	color: @black;
	border-bottom: 1px solid @black;
}
.gridHeader {
	background-color: @white;
	color: @black;
	border-bottom: 1px solid @black;	
	font-weight: bold;
}
.odd {
	background-color: @blue;
}
.even {
	background-color: @blue2;
}